<div>
<h2>商品編集</h2>
<%= form_with model:@item, url: admin_item_path, local:true do |f| %>
<div>
    商品画像<%= f.attachment_field :image %>
</div>
<div>

      商品名 <%= f.text_area :name %> 

</div>
<div>

      商品説明 <%= f.text_area :introduction %> 

</div>
<div>
      ジャンル  <%= f.select :genre_id, options_from_collection_for_select(@genres, :id, :name) %>
</div>
<div>

      税抜価格  <%= f.text_area :price %>円
    </h1>
</div>
<div>
      
      <%= f.radio_button :is_active, "true" %> 
      <%= f.label :is_active, "販売中" %>
      <%= f.radio_button :is_active, "false" %>
      <%= f.label :is_active, "販売停止" %>
</div>
<div>
    <%= f.submit '変更を保存' %>
</div>
<% end %>
</div>