<h2>注文情報入力</h2>

<div>
    <h2>支払方法</h2>
</div>


<div>
 <% form_with model:@order,url: public_orders_path do |f| %>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %>
 
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
 <% end %>
</div>
<div>
   <h2>お届け先</h2> 
   <%= f.radio_button :address, 
</div>


<div>(確認画面に進む)ボタン</div>