<dev>
 <table>
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
      <% @items.each do |item| %>
      <td>
        <%= @item.genre.name %>  
      </td>
      <% end %>
  </tbody>
 </table>
</dev>
<dev>
    <a>(item_image_id)</a>
    <h2><%= @item.name %></h2>
    <div>
        <%= @item.introduction %>
    </div>
    <div>
        <p>¥<%= @item.price %>(税込)</p>
    </div>
    <dev>
    <% if @item.is_active == TRUE %>　
      <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
       <%= f.label :amount, "個数選択" %>
        <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
       <%= f.hidden_field :item_id, :value => @item.id %>
       <%= f.submit "カートに入れる" %>
      <% end %>
    <% end %>
    </dev>
</dev>
