<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <% if admin_signed_in? %>
    <div class="header">
      <div class="header-logo">
         <div class="head-list">
          <h2><%= link_to NaganoCake , public_root_path %></h2>
         </div>
      </div>
      <div class="header-navber">
        <div class="header-navicon">
         <ul class="nav-icon">
          <li class="nav-list"><%= link_to "商品一覧", admin_items_path %></li>
          <li class="nav-list"><%= link_to "会員一覧", admin_customers_path %></li>
          <li class="nav-list"><%= link_to "注文履歴", admin_root_path %></li>
          <li class="nav-list"><%= link_to "ジャンル一覧", admin_genres_path %></li>
          <li class="nav-list"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
         </ul>
        </div>
        <div class="header-navsearch">
          <p>検索</p>

        </div>
      </div>
    </div>
    <% elsif customer_signed_in? %>
    <div class="header">
      <div class="header-logo">
         <div class="head-list">
          <h2><%= link_to NaganoCake , public_root_path %></h2>
         </div>
      </div>
      <div>
        ようこそ<%= current_customer.first_name %>さん！
      </div>
      <div class="header-navber">
        <div class="header-navicon">
         <ul class="nav-icon">
          <li class="nav-list"><%= link_to "マイページ", public_customers_my_page_path %></li>
          <li class="nav-list"><%= link_to "商品一覧", public_items_path %></li>
          <li class="nav-list"><%= link_to "カート", public_cart_items_path %></li>
          <li class="nav-list"><%= link_to"ログアウト", destroy_customer_session_path, method: :delete %></li>
         </ul>
        </div>
        <div class="header-navsearch">
          <p>検索</p>

        </div>
      </div>
    </div>
    <% else %>
    <div class="header">
      <div class="header-logo">
         <div class="head-list">
          <h2><%= link_to NaganoCake , public_root_path %></h2>
         </div>
      </div>
      <div class="header-navber">
        <div class="header-navicon">
         <ul class="nav-icon">
          <li class="nav-list"><%= link_to "About", public_homes_about_path %></li>
          <li class="nav-list"><%= link_to "商品一覧", public_items_path %></li>
          <li class="nav-list"><%= link_to "新規登録", new_customer_registration_path %></li>
          <li class="nav-list"><%= link_to "ログイン", new_customer_session_path %></li>
         </ul>
        </div>
        <div class="header-navsearch">
          <p>検索</p>

        </div>
      </div>
    </div>
    <% end %>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
      
    </div>
    
  </body>
</html>
